<div class="profile-banner">
  <div class="profile-card bg-white shadow-sm">
    <div class="user-info d-flex align-items-center justify-content-between">
      <h3><%= current_user.username %></h3>
      <div class="profile-dropdown">
        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if policy(User.find(params[:id])).show? %>
            <%= link_to "Change password", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "Update profil", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer border-top pt-2"><h6>Jacky member since <%= current_user.created_at.strftime("%b %d") %></h6></div>
  </div>
</div>
