<div class="profile-banner">
  <div class="profile-card bg-white shadow-sm">
    <div class="user-info d-flex align-items-center justify-content-between">
      <h3><%= current_user.username %></h3>
      <div class="profile-dropdown">
        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if policy(User.find(params[:id])).show? %>
            <%= link_to "Change password", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "Update profil", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer border-top pt-2"><h6>Jacky member since <%= current_user.created_at.strftime("%b %d") %></h6></div>
  </div>
</div>

<ul class="nav nav-pills px-4 py-3 flex-column">
  <li class="nav-item mb-3">
    <a class="btn" data-toggle="collapse" href="#allyourrentals" role="button" aria-expanded="false" aria-controls="collapseExample">
      All your rentals
    </a>
  </li>
  <li class="nav-item">
    <a class="btn" data-toggle="collapse" href="#allyourcars" role="button" aria-expanded="false" aria-controls="collapseExample">
      All your cars
    </a>
  </li>
</ul>

<div class="collapse" id="allyourrentals">
  <div class="card card-body">
    <div class="container my-5">
      <h1>All your rentals</h1>
      <div class="row">
        <% current_user.rentals.each do |rental| %>
          <div class="col-sm-4">
            <div class="card rental-card mt-5">
              <%= cl_image_tag rental.car.photo.key, crop: :fill, class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= Car.find(rental.car_id).model %></h5>
                <h6>€ <%= ((rental.end_date - rental.start_date) * Car.find(rental.car_id).price_per_day / (60*60*24)).round %> | <%= ((rental.end_date - rental.start_date) / (60*60*24)).round %> days</h6>
                <p>Pickup Address: <%=  Car.find(rental.car_id).pick_up_address %></p>
                <p>Start Date: <%= rental.start_date %></p>
                <p>End Date: <%= rental.end_date %></p>
                <p><%= link_to "More about the car", car_path(rental.car_id), class: 'text-decoration-none' %> | <%= link_to "Cancel", rental_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none' %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="collapse" id="allyourcars">
  <div class="card card-body">
    <div class="container my-5">
      <h1>All your cars</h1>
      <div class="row">
        <% current_user.cars.each do |car| %>
          <div class="card col-4 m-4">
            <%= cl_image_tag car.photo.key, crop: :fill, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= car.brand %> - <%= car.model %> </h5>
              <p class="card-text"> <%= car.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Address : <%= car.pick_up_address %> </li>
              <li class="list-group-item"> <%= car.price_per_day %> € per day</li>
            </ul>
            <div class="card-footer">
              <% if policy(car).edit? && policy(car).destroy? %>
                <p><%= link_to 'Edit',edit_car_path(car), class: 'text-decoration-none' %> | <%= link_to 'Delete',car_path(car), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none'%></p>
              <% end %>
              <% if policy(car).current_car_rentals? %>
                <%= link_to 'Who rents your car?', car_rentals_path(car), class: 'text-decoration-none' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
