<h1> Rent your car </h1>

<p> Please fill your Car's Informations: </p>


<%= simple_form_for [@car] do |f| %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :pick_up_address%>
        <%= f.input :pick_up_city %>
        <%= f.input :price_per_day %>
        <%= f.input :description %>
        <%= f.input :color %>
        <%= f.input :watts %>
        <%= f.input :rim_size %>
         <%= f.input :neon, as: :boolean%>
        <%= f.input :photo, as: :file %>
        <%= f.submit class:'btn btn-success btn-block' %>
      <% end %>
