<div class='background-navbar'>
  <div class="navbar d-flex align-items-center">
    <%= link_to root_path do  %>
      <%= image_tag "logo-jackynb.png", alt: "alttext", class: 'logo center' %>
    <% end %>
    <div class="content d-flex pr-20">
      <div class="nav-item text-center mr-5 mt-10 mb-0">
        <%= link_to cars_path do  %>
          <i class="fas fa-search"></i>
          <p class='mt-0'> Cars </p>
        <% end %>
      </div>
      <div class='nav-item text-center  mr-5 mt-10 mb-0'>
        <%= link_to new_car_path do %>
          <i class='fas fa-plus'></i>
          <p class='mt-0'> Add a car</p>
        <% end %>
      </div>
      <div class="nav-item text-center mt-10 mr-5">
        <% if current_user.nil? %>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-angle-down"></i>
            <p class='mt-0'> My activity </p>
          <% end %>
        <% elsif policy(current_user).show? %>
          <%= link_to rentals_path do %>
          <i class="fas fa-angle-down"></i>
          <p class='mt-0'> My activity </p>
          <% end %>
        <% end %>
      </div>
      <div class='nav-item text-center profile-dropdown '>
        <% if current_user.nil? %>
          <%= link_to new_user_session_path do %>
            <div class='nav-icon'>
              <i class='far fa-user'></i>
              <p class='mt-0'> Login </p>
            </div>
          <% end %>
        <% elsif policy(current_user).show? %>
          <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <% if current_user.photo.attached?%>
              <%= cl_image_tag current_user.photo.key, class: 'avatar-large'%>
            <% else %>
              <i class='far fa-user avatar-large'></i>
            <% end %>
          </button>
          <div class="dropdown ">
            <div class="dropdown-menu dropdown-menu-right shadow-sm rounded mt-1" role="menu" aria-labelledby="menu1">
              <%= link_to "My profile",profile_path(current_user), class: 'dropdown-item'  %>
              <%= link_to "Update my informations", edit_user_registration_path, class: 'dropdown-item'  %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

