<div class="container my-5">
  <h1>Rentals of your <%= @car.model %></h1>
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-sm-4">
        <div class="card rental-card mt-5" style="height: 60vh;">
          <img src="https://source.unsplash.com/random" alt="car photo" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= rental.user.email %></h5>
            <p>Pickup Address: <%=  Car.find(rental.car_id).pick_up_address %></p>
            <p>Start Date: <%= rental.start_date %></p>
            <p>End Date: <%= rental.end_date %></p>
            <p><%= link_to "Cancel", rental_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Back", profile_cars_path(current_user), class: "text-decoration-none" %>
</div>

