<div class="container my-5">
  <h1>All your rentals (you rent others' car)</h1>
  <div class="row">
    <% current_user.rentals.each do |rental| %>
      <div class="col-sm-4">
        <div class="card rental-card mt-5" style="height: 63vh;">
          <%= cl_image_tag rental.car.photo.key, crop: :fill, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= Car.find(rental.car_id).model %></h5>
            <h6>€ <%= ((rental.end_date - rental.start_date) * Car.find(rental.car_id).price_per_day / (60*60*24)).round %></h6>
            <p>Pickup Address: <%=  Car.find(rental.car_id).pick_up_address %></p>
            <p>Start Date: <%= rental.start_date %></p>
            <p>End Date: <%= rental.end_date %></p>
            <p><%= link_to "More about the car", car_path(rental.car_id), class: 'text-decoration-none' %> | <%= link_to "Cancel", rental_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-decoration-none' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to profile", profile_path(current_user), class: "text-decoration-none" %>
</div>
