<div class="activity container">
  <ul class="nav nav-tabs activity-nav">
    <li class="nav-item">
      <button class="nav-link active" id='btn-trips'>My Trips</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id='btn-renters'>My Renters</button>
    </li>
  </ul>
<!-- trips -->
  <div class="activity-body p-5">
  <%= link_to 'Discover', cars_path, class: 'btn btn-secondary mb-4 btn-jacky' %>
    <div class="trips">
      <h3>Trips</h3>
      <!-- trips coming -->
      <h5 class=''>What's coming up</h5>
      <% unless current_user.any_new_trip? %>
        <p>You don’t have anything coming up—--start exploring ideas for your next trip.</p>
        <%= image_tag 'activities_none.jpg' %>
        <!-- why not a gif of small car -->
      <% end %>
      <div class="tripcard-container d-flex justify-content-between">
        <div class="row">
          <% current_user.rentals.each do |rental| %>

            <% if rental.end_date > Time.zone.now %>
              <div class="col-sm-6">
              <!-- card design -->
              <%= render 'rentals/shared/tripcard', rental: rental %>
              <!-- card design -->
              </div>
            <% end %>

          <% end %>
        </div>
      </div>

      <!-- trips history -->
      <h5 class='mt-5'>What you've done</h5>
      <% if current_user.rentals.blank? %>
        <p>You don’t have any trip yet—--explore Jacky for your trip.</p>
        <%= image_tag 'activities_none.jpg' %>
      <% else %>
        <div class="tripcard-container d-flex justify-content-between">
          <div class="row">
            <% current_user.rentals.each do |rental| %>
              <% if rental.end_date <= Time.zone.now %>
                <div class="col-sm-6">
                <!-- card design -->
                <%= render 'rentals/shared/tripcard', rental: rental %>
                <!-- card design -->
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- renters -->
    <div class="renters d-none">
      <h3>Renters</h3>
      <!-- renters coming -->
      <h5>Who's coming</h5>
      <% unless current_user.any_new_renter? %>
        <p>You don’t have any new renter—--make your car more fancy.</p>
        <%#= image_tag 'activities_none.jpg' %>
      <% end %>
      <div class="row">
        <% current_user.renters.each do |renter| %>
          <!-- renter here is the rental instance of the renter -->
          <% if renter.end_date > Time.zone.now %>
            <div class="col-sm-8">
              <!-- card design -->
              <%= render 'rentals/shared/rentercard', renter: renter %>
              <!-- card design -->
            </div>

          <% end %>
        <% end %>
      </div>
      <!-- renters history -->
      <h5 class='mt-5'>Who you've met</h5>
      <% if current_user.renters.blank? %>
        <p>Oops! You don’t have any renter yet—--make your car more fancy.</p>
        <%= image_tag 'activities_none.jpg' %>
      <% else %>
        <div class="row">
          <% current_user.renters.each do |renter| %>
            <!-- renter here is the rental instance of the renter -->
            <% if renter.end_date <= Time.zone.now %>
              <div class="col-sm-8">
              <!-- card design -->
              <%= render 'rentals/shared/rentercard', renter: renter %>
              <!-- card design -->
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
