<div class='d-flex'>
  <div id="map" style="height: 100vh; width: 600px"></div>

  <div class='index'>
    <div class="container">
      <div class="row justify-content-center">
        <h1>All cars</h1>
        <% @cars.each do |car| %>
          <div class="card car-card w-100 m-4 d-flex flex-row" style="width: 18rem; max-height: 30rem;">
            <div class= "photo w-60">
              <% if car.photo.attached? %>
                <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill, class: 'card-img-top photo' %>
              <% else %>
                <img class="card-img-top" src="..." alt="No image yet">
              <% end %>
            </div>
            <div class="card-body">
              <div class="card-title d-flex justify-content-between">
                <h5 class="card-title"><%= car.brand %> - <%= car.model %> </h5>
                <p class=''><i class="fas fa-map-pin"> </i> <%= car.pick_up_city %>  </p>
              </div>

              <p class="card-text"> <%= car.description %> </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item pick_up_address" ><i class="fas fa-map-pin"> </i><%= car.pick_up_address %></li>
              </ul>
            </div>
            <div class='d-flex'>
              <div class='price btn-ghost'><i class="fas fa-euro-sign"></i> <strong> <%= car.price_per_day %> /day </strong></div>
            </div>
            <!-- <ul class="list-group list-group-flush">
              <li class="list-group-item" > <i class="fas fa-map-pin"></i> <%= car.pick_up_city %> </li>
              <li class="list-group-item">  <i class="fas fa-euro-sign"></i> <%= car.price_per_day %> /day </li> -->
              <div class='text-center'>
                <%= link_to 'More info',car_path(car), class: 'btn btn-success more-details' %>
              </div>
            <!-- </ul> -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
