<div class='d-flex'>
  <div class='d-flex flex-column align-items-center sticky-map-search'>
    <div class='search-index mt-4'>
      <form action="/cars" method="get" class='form-inline md-form mr-auto mb-4'>
        <div class="form-group d-flex ">
          <input type="text" name='search' placeholder="City" class='form-control-search mr-sm-2 w-100 shadow'>
        </div>
        <input type="date" class='form-control-search mr-sm-2 shadow' name="start_date">
        <input type="date" class='form-control-search mr-sm-2 shadow' name="end_date" >
        <button type="submit" class= 'btn btn-jacky pt-50 pl-20'><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div id="map" class="mt-4"></div>
  </div>

  <div class='index'>
    <div class="container">
     <div class='title-div pt-4'>
        <h2 class='title-all-cars'></h2>
      </div>

      <div>
        <div class='cards'>
          <% @cars.each do |car| %>
            <div class='card-index new-car-card'>
              <%= link_to (car_path(car))  do %>
                <% if car.photo.attached? %>
                  <%= cl_image_tag car.photo.key, crop: :fill, class: 'image-index' %>
                <% else %>
                  <img class="image-index" src="..." alt="No image yet">
                <% end %>

                <p class='btn btn-jacky more-details'>More info </p>
                <div class='text-center content-card-index w-100'>
                  <h5 class="car-brand-title mb-2"><%= car.brand %> - <%= car.model %> </h5>
                  <div class='d-flex justify-content-between mr-5 ml-5'>
                    <p class='pick-up-city-title'><%= car.pick_up_city %> </p>
                    <p class='pick-up-address'><%= car.pick_up_address %> </p>
                    <p class='price-text'> <strong> <%= car.price_per_day %> €/day </strong></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
