<div class="container mt-5">
  <h1>All cars</h1>
  <%= link_to 'Create a new car', new_car_path, class: 'btn btn-info'  %>
  <div class="row justify-content-center">
    <% @cars.each do |car| %>
      <div class="card col-4 m-4" style="width: 18rem; max-height: 30rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= car.brand %> - <%= car.model %> </h5>
          <p class="card-text"> <%= car.description %> </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> address : <%= car.pick_up_address %> </li>
          <li class="list-group-item"> <%= car.price_per_day %> € </li>
        </ul>
        <%= link_to 'More details',car_path(car), class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>


