 <div class="new-car-form">
    <div class="container justify-content-center">
<h1> Your FeedBack: </h1>
      <%= simple_form_for [@rental, @review] do |f| %>
        <%= f.input :title, input_html: { class: "new-car-input" } %>
        <%= f.input :message, input_html: { class: "new-car-input" } %>
        <%= f.input :rating, input_html: { class: "new-car-input" }  %>
        <%= f.submit "add a review", class: "btn btn-jacky" %>
      <% end %>
  </div>
</div>
